/*--------------
COLOR PALLETE:
	Red: #990100;
---------------*/

.lead {
	margin: 10px 0 10px 0;

}
.eventtitle {
	display: block;
	color: #990100;
	font-family: 'League Gothic', sans-serif;
	font-size: 2em;
	margin-top: 10px;
	line-height: 25px;
}

.carousel-caption {
	height: 40px;
}

.carousel-title {
	display: inline-block;
	font-size: 20px;
	line-height: 28px;
	margin-bottom: 10px;
}

.social {
	margin-right: 10px;
}