<!DOCTYPE html>
<html lang="en">
  <head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
  
    <title>Here! | Davis Computer Science Club</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'here/bootstrap/css/bootstrap.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'here/css/signin.css' %}"  rel="stylesheet">
    <link href="{% static 'here/css/thetime.css' %}" rel="stylesheet">

    <!--Client Form Validation-->
    <script type="text/javascript" src="{% static 'here/scripts/jquery-2.0.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'here/scripts/parsley.min.js' %}"></script>


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
    <!--Fonts-->
    <link href="{% static 'here/webfonts/fonts.css' %} " rel="stylesheet"/>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>

  </head>

  <body>

    <div class="container">
      
      <form class="form-signin" action="validate" method="POST" parsley-validate> {% csrf_token %}
        <img src="{% static 'here/imgs/logo.jpg' %}" id="logo"/>
        <img src="{% static 'here/imgs/title.jpg' %}" />

        <div id="thetimewrap">
          <div id="date" class="thetime"></div>
          <div id="hour" class="thetime"></div>
          <div class="cln thetime">:</div>
          <div id="min" class="thetime"></div>
          <div class="cln thetime">:</div>
          <div id="secwrap" class="thetime">
            <div id="sec" class="thetime"></div>
          </div>
          <div id="ampm" class="thetime"></div>
        </div>

        
        {% if events_now %}
          <h3 class="form-signin-heading">Happening Now:</h3>
          <div id="error"></div>
          {% for event in events_now %}
           
            <input type="radio" name="eventslist" id="event{{forloop.counter}}" value="{{event.name}}" parsley-required="true" parsley-error-container="#error" parsley-error-message="Please select an event.">
            <label class="eventitem" for="event{{forloop.counter}}">
              <span class="eventtitle">{{event.name}}</span><br />
              <span class="eventdesc"> {{event.location}}</span>
            </label>

          {% endfor %}

          <h3 class="form-signin-heading">Quick Check-in</h3>
          <input type="text" class="form-control" placeholder="UCD Email (e.g. jsmith@ucdavis.edu)" name="email" 
          parsley-regexp="[A-Za-z]@([a-z]+[\.])?ucdavis\.edu" 
          parsley-required="true" 
          parsley-error-message="Please enter a valid ucdavis.edu email.">
          {% if nomatch %}
            <ul> Sorry, that email is not valid, please try again.</ul>
          {% endif %}
          <button class="btn btn-lg btn-primary btn-block filled" type="submit">I'm here!</button>

          {% else %}
            <h3 class="form-signin-heading">No events right now. :(</h3>
        
        {% endif %}

      </form>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script>
      function showTime() {
        var am = true;
        Date.prototype.today = function(){ 
          return ((this.getDate() < 10)?"0":"") + this.getDate() +"/"+(((this.getMonth()+1) < 10)?"0":"") + (this.getMonth()+1) +"/"+ this.getFullYear() 
        };
        //For the time now
        Date.prototype.hourNow = function(){
          var thehour = (((this.getHours() < 10)?"0":"") + this.getHours());
          (thehour < 12) ? am=true: am=false;
          return thehour % 12; //return the time in 12-hour format
        };
        Date.prototype.minNow = function(){
          return ((this.getMinutes() < 10)?"0":"") + this.getMinutes();
        };
        Date.prototype.secNow = function(){
          return ((this.getSeconds() < 10)?"0":"") + this.getSeconds();
        };
        var newDate = new Date();
        document.getElementById('hour').textContent = newDate.hourNow();
        document.getElementById('min').textContent = newDate.minNow();
        document.getElementById('sec').textContent = newDate.secNow();
        document.getElementById('date').textContent = newDate.today();
        document.getElementById('ampm').textContent = (am ? "AM" : "PM");
        setTimeout(showTime, 1000);
      }
      showTime();
    </script>

  </body>
</html>
